* {
  /* max-width: 1280px; */
  margin: 0 auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-family: cursive;
}

.header img {
  width: 99%;
  height: 25%;
  border-radius: 25px;
  margin: 8px;
}

/* .header-pic {
  width: 90vw;
} */

.header-disc h2 {
  font-size: 35px;
  text-align: start;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.header-disc p {
  padding-top: 1rem;
}

.discription {
  background-color: #fff7fc;
  border-radius: 20px;
  margin-top: 1rem;
  /* padding-left: 2rem; */
  /* padding-bottom: 1rem; */
  /* white-space-collapse: ; */
}
.discription h3 {
  color: #886a79;
}
h3 {
  font-size: 30px;
  color: #724f44;
  padding: 10px 0px 15px 0;
}

.time-list span {
  font-size: 1rem;
  font-weight: bold;
}

.time-list {
  padding-top: 8px;
  padding-bottom: 5px;
}

.ingredients {
  margin-top: 1rem;
  line-height: 32px;
}

.ingredients h3 {
  padding-bottom: 5px;
  /* color: #724f44; */
}
hr {
  margin-top: 30px;
  margin-bottom: 40px;
}
.instruction {
  color: black;
}
.instruction ol {
  color: #724f44; /* This sets the color for the list marker */
}

.instruction ol li {
  line-height: 30px;
}

/* .instruction li {
  justify-content: space-between;
} */

.instruction span {
  font-size: 1rem;
  font-weight: bold;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  text-align: left;
  font-size: 1.5rem;
  align-items: center;
}

.custom-table thead {
  border-bottom: 2px solid #724f44;
}

.custom-table tbody tr {
  border-bottom: 1px solid #724f44;
}

.custom-table tbody tr:last-child {
  border-bottom: none;
}

.colm2 {
  color: #724f44;
}
